@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  padding: 0;
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --tw-gradient-stops: #151518 20%, #3b3b49 75%, #9333ea 95%;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: #100e1e;
}
/* Track */
::-webkit-scrollbar-track {
  background: #100e1e;
  border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #424657;
  border-radius: 5px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Add this to your global CSS */
.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
